<h1>Click-To-Call Demo</h1>
<h2 style="color: #ff0000"><%= params['msg'] %></h2>
<h3>Enter your phone number to be connected.</h3>
<form action="/twilio/clicktocall/process_call" method="post">
    <input type="text" name="number" />
    <input type="submit" value="Call me!">
</form>